  <?php require_once '../app/views/inc/seller_navbar.php';?>
      
        <div class="content-wrapper">
          
          <h4>My Products</h4>
           <div ng-init="fetch_all_product_of_selle()">
          <div class="row" ng-if="1 == status" align="center">
            <div class="col-md-3 grid-margin stretch-card"  ng-repeat="sellerProduct in sellerProducts | filter : all ">
              <div class="" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                <div class=" bg-gradient-primary text-white">
                 
                  <div class="container">
                  <div class="row">
                    <div class="col-md-12 mt-2" >
                      <a href="#" class="pbtn " data-id1="{{sellerProduct.product_code}}" data-id2="{{sellerProduct.brand}}" data-id3="{{sellerProduct.sub_category}}">
                       <img  ng-init="img = sellerProduct.image.split(',')"  style="width: 180px!important; height: 120px!important; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); margin-left: auto; margin-right: auto; display:block;" src="assets/images/uploads/products/{{ img[0] }}">
                    </a>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-">
                  <div>
                      <p style="font-size: 15px; padding-top: 3px;">{{sellerProduct.name}} / {{sellerProduct.price | currency}}<br>
                        <span class="text-danger" style="font-size: 12px: margin-top:-20px;">active  <span  style="font-size: 10px; color: white;">{{sellerProduct.date_added}}</span></span>
                      </p>
                  </div>
                </div>
              </div>


                  <a href="" data-id1="{{sellerProduct.product_code}}" title="like" class="btn btn-outline-secondary btn-fw upbtn mb-2">Edit</a>
                </div>
                  


                </div>
              </div>
            </div>
           
        
          </div>
          <div ng-if="0 == status" align="center" class="mt-5">
            <p><i style="font-size: 200px" class="mdi mdi-briefcase-upload"></i></p>
            <p>You have not uploaded any ads yet</p>
            <a href="addproduct" class="btn btn-primary btn-rounded btn-fw">Add Product</a>
          </div>
        </div>
        
        </div>
       