<?php require_once '../app/views/inc/seller_navbar.php';?>
<div class="content-wrapper">

  <div class="col-12 grid-margin stretch-card" ng-init="get_single_product()">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add New Product</h4>
        <p class="card-description">

        </p>
        <form class="forms-sample" method="post" enctype="multipart/form-data" id="add_product"
          ng-submit="update_product()" action="">
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" ng-init="fetch_all_category()" name="category" id="category" ng-model="cate">
              <option selected="" value=""> Category</option>
              <option ng-repeat="catSub in categories  | orderBy : 'listIndex'" value="{{ catSub.id }}"> {{ catSub.title
                }}</option>
            </select>
          </div>
          <input type="hidden" name="seller_id" id="seller_id" value="<?php  echo $_SESSION['seller_id'];?>">
          <div class="form-group" ng-if="cate" ng-init="fetch_all_subcategory()">
            <label for="sub_category">Sub Category</label>
            <select class="form-control" name="sub_category" id="sub_category" ng-model="sub_cat">
              <option ng-init="get_single_product()" selected=""
                ng-repeat="Sub in subcategories | filter : {parent_id:cate} | orderBy : 'listIndex'"
                value="{{ Sub.sub_id }}"> {{ Sub.title }} </option>
            </select>

          </div>
          <div ng-init="fetch_required_table()">




            <div class="form-group" ng-if="5==cate">
              <label for="brand">Brand</label>
              <input type="text" name="brand" placeholder="Name of Brand" class="form-control">
            </div>
            <div ng-if="1 == cate">
              <div class="form-group">
                <label for="color"> Select Make</label>
                <select class="form-control" id="brand" ng-model="vehicle" name="brand">
                  <label for="Model">Select Model</label>
                  <option selected="" value="">Car Make</option>
                  <option ng-repeat="cars in requiredCar" value="{{ cars.make }}"> {{ cars.make }}
                  </option>
                </select>
              </div>
              <div class="form-group" ng-if="vehicle">
                <label for="Model">Select Model</label>
                <select class="form-control" name="model" id="model">
                  <option value="" selected="">Car Model</option>
                  <optgroup ng-repeat="cars in  requiredCar | filter : vehicle">
                    <option ng-init="get_single_product()"
                      ng-repeat="models in  cars.car_models |  orderBy : 'listIndex' " value="{{ models.model }}"> {{
                      models.model}}
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group">
                <label for="Model">Year</label>
                <input name="year_of_manufacture" id="year_of_manufacture" type="text" class="form-control"
                  placeholder="Year of Manufacture">
              </div>
              <div class="form-group">
                <label for="Model">Select Transmission</label>

                <select class="form-control" name="transmission_type_vehicle" id="transmission_type_vehicle">
                  <option selected="" value="">select Tranmission</option>
                  <option value="Brand New"> Automatic
                  </option>
                  <option value="Manual"> Manual
                  </option>
                  <option value="Semi-automatic"> Semi-automatic
                  </option>
                  <option value="Tiptronic"> Tiptronic
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Mileage(KM)</label>
                <input name="fuel" type="text" id="fuel" class="form-control" placeholder="Fuel">
              </div>
            </div>

            <div ng-if="2 == cate">
              <div class="form-group">
                <select class="form-control" name="property_type" id="property_type">
                  <label>Select Property Type</label>
                  <option selected="" value="">Property Type</option>
                  <option ng-repeat="Property in  requiredProperty" value="{{ Property.type }}"> {{ Property.type }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Number of Bathrooms</label>
                <input type="number" name="number_of_bathrooms" id="number_of_bathrooms" class="form-control"
                  placeholder="Number of Bathrooms">
              </div>
              <div class="form-group">
                <label>Number of Bedrooms</label>
                <input type="number" name="number_of_bedrooms" id="number_of_bedrooms" class="form-control"
                  placeholder="Number of Bedrooms">
              </div>
              <div class="form-group">
                <label>Property Size</label>
                <input type="text" name="Property_size" id="Property_size" class="form-control"
                  placeholder="Property Size">
              </div>

            </div>

            <div ng-if="3 == cate">
              <div class="form-group">
                <select class="form-control" ng-model="phone" name="brand">
                  <option selected="" value="">Phone Make</option>
                  <option ng-repeat="phones in requiredPhone" value="{{ phones.make }}"> {{ phones.make }} </option>

                </select>
              </div>

              <div class="form-group" ng-if="phone">
                <select id="model" name="model" class="form-control">
                  <option value="" selected="">Phone Model</option>
                  <optgroup ng-repeat="phones in  requiredPhone | filter : {make:phone} ">
                    <option ng-init="get_single_product()"
                      ng-repeat="models in  phones.phone_models | orderBy : 'listIndex' " value="{{ models.model }}"> {{
                      models.model}}
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group">
                <label>Ram Size</label>
                <input type="number" name="ram" id="ram" class="form-control" placeholder="Ram">
              </div>
              <div class="form-group">
                <label>Internal Memory</label>
                <input type="number" name="internal_storage" id="internal_storage" class="form-control"
                  placeholder="Internal Storage">
              </div>
              <div class="form-group">
                <label>Number of Sim</label>
                <input type="text" name="sim" id="sim" class="form-control" placeholder="Number of Sim">
              </div>
              <div class="form-group">
                <label>Phone Resolution</label>
                <input type="text" name="resolution" id="resolution" class="form-control" placeholder="Resolution">
              </div>
              <div class="form-group">
                <label>Battery Capacity</label>
                <input type="number" name="battery" id="battery" class="form-control" placeholder="Battery">
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Main Camera</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="main_camera" class="form-check-input" value="No" checked>
                        No
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="Yes" name="main_camera">
                        Yes
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Sefies Camera</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="selfie_camera" class="form-check-input" value="No" checked>
                        No
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="Yes" name="selfie_camera">
                        Yes
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="8 == cate">

              <div class="form-group">
                <label>Hard Drive Size</label>
                <input type="text" name="hard_drive_size" id="hard_drive_size" class="form-control"
                  placeholder="Hard Drive Size">
              </div>
              <div class="form-group">
                <label>Operatting System</label>
                <input type="text" name="operating_system" id="operating_system" class="form-control"
                  placeholder="Operating System">
              </div>
              <div class="form-group">
                <label>Ram</label>
                <input type="number" name="ram" id="ram" class="form-control" placeholder="Ram">
              </div>
              <div class="form-group">
                <label>Internal Storage</label>
                <input type="number" name="internal_storage" id="internal_storage" class="form-control"
                  placeholder="Internal Storage">
              </div>




            </div>












            <div ng-if="cate">


              <div class="form-group">
                <label for="color">Color</label>
                <input type="text" name="color" id="color" placeholder="Color " class="form-control">
              </div>
              <div class="form-group">
                <label>Select Condition</label>
                <select class="form-control" name="conditon" id="conditon">
                  <option selected="" value="">Condition</option>
                  <option ng-init="get_single_product()" ng-repeat="condition in requiredCondition"
                    value="{{ condition.state }}"> {{ condition.state }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="name">Title</label>
                <input type="text" name="name" id="name" placeholder="Name of Product" class="form-control">
              </div>
              <div class="form-group">
                <label>Price </label>
                <input type="" name="price" id="price" class="form-control" placeholder="Price">
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <div class="input-group-prepend">
                    <span class="input-group-text">0.00</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Negotiable</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="negotiable" id="negotiable" class="form-check-input" value="">
                        No
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="1" name="negotiable" id="negotiable4">
                        Yes
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Delivery Available</label>
                  <div class="col-sm-4">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" name="delivery_available" id="delivery_available" class="form-check-input"
                          value="">
                        No
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" value="1" id="delivery_available1"
                          name="delivery_available">
                        Yes
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="state">Select State Region</label>
                <select class="form-control" ng-model="state" name="state" id="state">
                  <option selected="" value="">State</option>
                  <option ng-repeat="states in  requiredState" value="{{ states.state }}"> {{ states.state }}</option>
                </select>
              </div>
              <div ng-if="state">
                <div class="form-group">
                  <select class="form-control" name="lga" id="lga">
                    <label for="lga">Select Local RegionLGA</label>
                    <option value="" selected="">LGA</option>
                    <optgroup ng-repeat="states in  requiredState | filter : state">
                      <option ng-init="get_single_product()" ng-repeat="local in  states.lgas | filter : state"
                        value="{{ local.Lga }}"> {{ local.Lga}}
                      </option>
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label for="landmark">Nearest LandMark</label>
                  <input type="text" name="landmark" id="landmark" placeholder="LandMark" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Description</label>
                <textarea class="form-control" name="description" id="description" rows="4"></textarea>
              </div>




            </div>
          </div>


          <div class="form-group">
            <label>File upload</label>
            <input type="file" name="files[]" multiple class="form-control">
            <span style="font-size: 12px; color: red">* Upload multiple images</span>

          </div>
          <input type="hidden" name="seller_id" id="seller_id">
          <input type="hidden" name="product_code" id="product_code">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>