

<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="Home"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Saved</li>
					</ol>
				</div><!-- End .container -->
			</nav>

	


<div class="container"  ng-controller="homeController">
  <h1 class="subtitle"style="font-size:25px; font-weight: bold;"> Saved Pages</h1>

</div>

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->