<main class="main" ng-controller="homeController">
	<div class="category-banner-container bg-gray">
		<div class="category-banner banner text-uppercase"
			style="background: no-repeat 60%/cover url('assets/images/banners/banner-top.jpg');">
			<div class="container position-relative" ng-init=" fetch_single_category()">
				<div class="row">
					<div class="pl-lg-5 pb-5 pb-md-0 col-md-5 col-xl-4 col-lg-4 offset-1">
						<h3 class="ml-lg-5 mb-2 ls-10">{{ singleCat.title }}<br>Deals</h3>
						<input type="search" class="form-control" name="q" id="q"
							placeholder="Search Products, Brands and Categories" required ng-model="all">
						<!--
								 <input
                    ng-model="searchText"
                      type="text"
                      class="form-control"
                      name="q"
                      id="q"
                      placeholder="Search for Color, Brand, Price and name:"
                     
                    />

                -->
						<a href="dashboard" class="ml-lg-5 btn btn-dark btn-black ls-10">Sell Products!</a>
					</div>
					<div class="pl-lg-5 col-md-4 offset-md-0 offset-1 pt-4">

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<ol class="breadcrumb" ng-init=" fetch_single_category()">
				<li class="breadcrumb-item"><a href="Home"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ singleCat.title }}</li>
			</ol>
		</nav>

		<div class="row">
			<div class="col-lg-9 order-lg-1">


				<div class="row pb-4" ng-init="fetch_all_product_category()">
					<div class="row">
						<div class="col-6 col-sm-4 col-md-3" ng-repeat="allSubProduct in allCatProducts | filter : all">
							<div class="product-default inner-quickview inner-icon">
								<figure>
									<a href="#" class="pbtn" data-id1="{{allSubProduct.product_code}}">
										<div ng-init="img = allSubProduct.image.split(',')"> <img
												style="width: 200px!important; height: 150px!important;"
												src="assets/images/uploads/products/{{ img[0] }}">
										</div>
									</a>
									<div class="label-group">
										<div class="product-label label-hot">10X VIP TOP+</div>
									</div>
									<div class="btn-icon-group">
										<button class="btn-icon btn-add-cart" title="Number" data-toggle="modal"
											data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
									</div>
								</figure>
								<div class="product-details">
									<div class="category-list">
										<a href="" class="product-category">{{allSubProduct.productSubCategory}}</a>
									</div>
									<h2 class="product-title">
										<a href="">{{allSubProduct.name}}</a>
									</h2>


									<div class="price-box">
										<span class="product-price">{{allSubProduct.price | currency}}</span>
									</div>
									<div class="product-action">

										{{allSubProduct.lga}},
										<a href="#">{{allSubProduct.state}}</a>

									</div>
								</div>
								<!--
									<div class="product-details">

										<div class="category-wrap">
											<a href="#" title="like" class="btn-icon-wish"><i class="icon-heart"></i></a>
											
											
											
										</div>
										<h2 class="product-title">
											<a href="Product">{{product.name}}</a>
										</h2>
										<div class="price-box">
											<span class="product-price">{{product.price | currency}}</span>
										</div>
									</div>
								</div>
							-->
							</div><!-- End .col-md-3 -->
						</div>
						<!--
							<div class="col-6 col-sm-4 product-default left-details product-list mb-4" ng-repeat="allSubProduct in allCatProducts | filter : all">
								<figure>
									<a href="#" class="pbtn" data-id1="{{allSubProduct.product_code}}">
												<div ng-init="img = allSubProduct.image.split(',')"> <img   style="width: 200px!important; height: 150px!important;" src="assets/images/uploads/products/{{ img[0] }}">
										</div>
								</figure>
								<div class="product-details">
									<div class="category-list">
										<a href="" class="product-category">{{allSubProduct.productSubCategory}}</a>
									</div>
									<h2 class="product-title">
										<a href="">{{allSubProduct.name}}</a>
									</h2>
									<div class="ratings-container">
										<div class="product-ratings">
											<span class="ratings" style="width:100%"></span>
										</div>
									</div>
									<p class="product-description">{{allSubProduct.description}}</p>
									<div class="price-box">
										<span class="product-price">{{allSubProduct.price | currency}}</span>
									</div>
									<div class="product-action">
										
										{{allSubProduct.lga}}
										<a href="#">{{allSubProduct.state}}</a>
										
									</div>
								</div>
                                 
								
							</div>
						-->


					</div>
				</div>

			</div><!-- End .col-lg-9 -->

			<div class="sidebar-overlay"></div>
			<div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
			<?php require_once '../app/views/inc/aside4.php';?>
		</div><!-- End .row -->
	</div><!-- End .container -->

	<div class="mb-3"></div><!-- margin -->
</main><!-- End .main -->