

<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Advert</li>
					</ol>
				</div><!-- End .container -->
			</nav>

	


<div class="container"  ng-controller="homeController">
  <h1 class="subtitle"style="font-size:25px; font-weight: bold;"> Advert Pages</h1>

  <div class="container">
  	             <div ng-init="fetch_all_product_of_selle()">
								<div class="row">
							<div class="col-6 col-sm-4 col-md-3"  ng-repeat="sellerProduct in sellerProducts | filter : all ">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="#" class="pbtn" data-id1="{{sellerProduct.product_code}}" data-id2="{{sellerProduct.brand}}" data-id3="{{sellerProduct.sub_category}}">
											<div ng-init="img = sellerProduct.image.split(',')"> <img   style="width: 200px!important; height: 150px!important;" src="assets/images/uploads/products/{{ img[0] }}">
										</div>
										</a>
										<div class="label-group">
											<div class="product-label label-hot">10X VIP TOP+</div>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" title="Like" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
									</figure>
									<div class="product-details">

										<div class="category-wrap">
											<a href="#" title="like" class="btn-icon-wish"><i class="icon-heart"></i></a>
											
											
											
										</div>
										<h2 class="product-title">
											<a href="Product">{{sellerProduct.name}}</a>
										</h2>
										<div class="price-box">
											<span class="product-price">{{sellerProduct.price | currency}}</span>
										</div><!-- End .price-box -->
										<a href=""   data-id1="{{sellerProduct.product_code}}" title="like" class="btn btn-primary upbtn">Edit</a>
											<a href="#" title="like" class="btn btn-primary">Delete</a>
									</div><!-- End .product-details -->
								</div>
							</div><!-- End .col-md-3 -->
						</div>

					</div>
  </div>

</div>

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->