  <?php require_once '../app/views/inc/seller_navbar.php';?>
      
        <div class="content-wrapper"  ng-controller="homeController">
         
         
          <div class="row"  ng-init="fetch_single_user()">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body bg-gradient-primary text-white">

          <div class="row"  ng-init="fetch_single_user()">
            <div class="col-md-6 ">
                
                  <div  align="center">
                      <form action="" method="post" enctype="multipart/form-data" id="add_profileImg" ng-submit="add_profileImg()" class="my-3">
          <div class="form-group" > 
            <input type="hidden" name="email" value="{{singleUser.email}}">
        <input class="form-control" type="file" name="file" >  
       <div class="my-2"  id="upload"> 
           <input type="submit" class="form-control" value="Upload">  
         </div>
       </div>
 
</form>
              
                  
              
            </div>
          </div>
             <div class="col-md-6 grid-margin stretch-card">
              <div class="card">

                <div class="card-body bg-gradient-danger text-white">
                <div class="col-md-10 mx-auto" ng-init="fetch_single_user()">
                   <p class="card-title">Upload Personal Details</p>
                       <form action="" method="post"  id="add_profileDetails" ng-submit="add_profileDetails()" class="my-3">
          <div class="form-group">
            <input type="hidden" name="email" value="{{singleUser.email}}">
            <input type="hidden" name="user_id" value="{{singleUser.id}}">
            <input type="hidden" name="seller_id" value="{{singleUser.seller_id}}">
          <input
            type="text"
            name="fullname"
            id="fullname"
            class="form-control"
            placeholder="Full Name"
            required
            value="{{singleUser.fullname}}"
          />
        </div>
         

             
         <div class="form-group">
             <input
            type="text"
            name="state"
            id="state"
            class="form-control"
            placeholder="State"
            value="{{singleUser.state}}"
            required
          />
        </div>
         <div class="form-group">
             <input
            type="text"
            name="country"
            id="country"
            class="form-control"
            placeholder="Country"
            value="{{singleUser.country}}"
            required
          />
        </div>
         <div class="form-group">
             <input
            type="text"
            name="whatsapp"
            id="whatsapp"
            class="form-control"
            placeholder="whatsapp"
            value="{{singleUser.whatsapp}}"
            
          />
        </div>
         <div class="form-group">
             <input
            type="text"
            name="mobile"
            id="mobile"
            class="form-control"
            placeholder="Mobile Number"
            value="{{singleUser.mobile}}"
            
          />
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-primary" id="">
              Confirm Account
            </button>
          </div>
                       </form>
                    </div>
                 
                </div>
              </div>
            </div>
        
          </div>
                 
                  
                </div>
              </div>
            </div>
            
        
          </div>
         
        </div>
       