  <?php require_once '../app/views/inc/seller_navbar.php';?>
      
        <div class="content-wrapper"  ng-controller="homeController">
         
         
          <div class="row"  ng-init="fetch_single_user()">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body bg-gradient-primary text-white">

          
             <div class="col-md-12 grid-margin stretch-card">
              <div class="card">

                <div class="card-body bg-gradient-danger text-white">
                <div class="col-md-10 mx-auto" ng-init="fetch_single_user()">
                   <p class="card-title">Change Password</p>
                       <form action="" method="post"  id="change_password" ng-submit="change_password()" class="my-3">
          <div class="form-group">
            <input type="hidden" name="email" value="{{singleUser.email}}">
            <input type="hidden" name="user_id" value="{{singleUser.id}}">
            <input type="hidden" name="seller_id" value="{{singleUser.seller_id}}">
          <input
            type="text"
            name="password"
            id="password"
            class="form-control"
            placeholder="New Password"
            required
           
          />
        </div>
         

             
         <div class="form-group">
             <input
            type="text"
            name="confirm_password"
            id="confirm_password"
            class="form-control"
            placeholder="Confirm Password"
           
            required
          />
        </div>
       
        <div class="form-footer">
            <button type="submit" class="btn btn-primary" id="">
              Change
            </button>
          </div>
                       </form>
                    </div>
                 
                </div>
              </div>
            </div>
        
          </div>
                 
                  
                </div>
              </div>
            </div>
            
        
          </div>
         
        </div>
       