

<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="Home"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">My Message</li>
					</ol>
				</div><!-- End .container -->
			</nav>

	


<div class="container"  ng-controller="homeController">
  <h1 class="subtitle"style="font-size:25px; font-weight: bold;"> My Messages Pages</h1>
  
  <div ng-init="fetch_all_messages_to_seller()">
  	<table class="table table-striped">
  		<thead>
  			<tr>
  				<th>SN</th>
  				<th>Sender Name</th>
  				<th>Sender Email</th>
  				<th>Sender Number</th>
  				<th>Message</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="messageToSender in messageTosenders">
  				<td>{{$index + 1}}</td>
  				<td>{{messageToSender.sender_name}}</td>
  				<td>{{messageToSender.sender_email}}</td>
  				<td>{{messageToSender.sender_tel}}</td>
  				<td>{{messageToSender.message}}</td>
  				
  			</tr>
  		</tbody>
  	</table>
  </div>

</div>

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->