<div class="about-section">
  <div class="container">
    <h1 class="subtitle" style="font-size:25px; font-weight: bold;">Gnice Market Place is the best place <br>to sell
      anything to real people.</h1>
    <p style="font-size: 16px;">
      It is the biggest free online classified with an advanced security system. We provide a simple hassle-free
      solution to sell and buy almost anything.
    </p>

  </div><!-- End .container -->
</div><!-- End .about-section -->


<div class="container">
  <h1 class="subtitle" style="font-size:25px; font-weight: bold;"> Table of Contents</h1>
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          How to sell on Gnice Market Place?
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          <h5> 1. <a href="#">Register</a></h5>
          <p style="font-size: 15px;"> Register using your e-mail and phone number (or do it via Facebook or Google).
            Make sure you’re entering a correct phone number, so your clients could reach you!</p>

          <h5> 2. Make photos of your item.</h5>
          <p style="font-size: 15px;"> Feel free to make a lot of photos using your smartphone. Make sure they show your
            item in the best light.</p>

          <h5> 3. Press <a href="#">SELL.</a></h5>
          <p style="font-size: 15px;"> Choose a proper category, upload your photos and write a clear title and full
            description of your item. Enter a fair price, select attributes and send your advert to review!</p>

          <h5> 4. Answer the messages and calls from your clients!</h5>
          <p style="font-size: 15px;">
            If everything is ok with your advert, it’ll be on Jiji in a couple of hours after sending to moderation.
            We’ll send you a letter and notification when your advert goes live. Check your messages and be ready to
            earn money! Do you want to sell like a pro? Check out our Premium Services .
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          How to buy on Gnice Market Place?
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h5> 1. <a href="#">Search for the item.</a></h5>
          <p style="font-size: 15px;"> Find what you need using search panel and filters. We have over a million
            adverts, choose exactly what you are looking for.</p>

          <h5> 2. Contact a seller.</h5>
          <p style="font-size: 15px;"> You may use chat on Jiji or call them via phone. Discuss all the details,
            negotiate about the price.</p>

          <h5> 3. Take your item or order a delivery.</h5>
          <p style="font-size: 15px;"> We check our sellers carefully, but it’s always better to check twice, right?
            Meet a seller in public place and be sure to pay only after collecting your item.</p>

          <h5> 4. Leave your feedback about the seller.</h5>
          <p style="font-size: 15px;">
            Feel free to tell us about your purchase. Your feedback will be published online on the seller’s page and
            will be very helpful for other buyers. Let’s build a safe and professional business community together!
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Safety
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h5> 1. General</h5>
          <p style="font-size: 15px;"> We are highly focused on the security and can solve any issues in short-terms.
            That’s why we ask you, kindly, to leave a review after purchasing. If you run into any problems with a
            seller, you can report us and Jiji Team will check this seller as soon as possible.</p>

          <h5> 2. Personal safety tips.</h5>
          <p style="font-size: 15px;">
          <ul>
            <li> - Do not pay in advance, even for the delivery </li>
            <li> - Try to meet at a safe, public location </li>
            <li> - Check the item BEFORE you buy it </li>
            <li> - Pay only after collecting the item </li>
          </ul>
          </p>

          <h5> 3. Secure payments.</h5>
          <p style="font-size: 15px;">
            Gnice Market Place provides Premium Services for those who want to sell and earn more. We accept both online
            and offline payments for these services. We guarantee secure and reliable payments on Gnice.
          </p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
          Sell like a pro!
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <h5> 1. Pay attention to the details.</h5>
          <p style="font-size: 15px;"> Make good photos of your goods, write clear and detailed description</p>

          <h5> 2. Answer quickly.</h5>
          <p style="font-size: 15px;">
            Don’t make your buyer wait for your message for days. Be online or get SMS notifications on your messages.
          </p>

          <h5> 3. Use Premium Services to get 15x more customers!</h5>
          <p style="font-size: 15px;">
            Your adverts will appear at the top of the page and you will sell faster! How does it work?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>