<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div ng-controller="homeController" style="margin-top:20px;">
        <div class="container">
          <h1 class="subtitle" style="font-size:22px; font-weight: bold; margin-bottom: auto">Gnice Market Place is the
            best place <br>to sell anything to real people.</h1>
          <p style="font-size: 16px;">
            It is the biggest free online classified with an advanced security system. We provide a simple hassle-free
            solution to sell and buy almost anything.
          </p>
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                  Table of Content
                </a>
              </div>
              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                <div style="padding-left: 10px; padding-top: 5px;">
                  <ul>
                    <li>1. HOW TO SELL ON GNICE MARKET PLACE?</li>
                    <li>2. HOW TO BUY ON GNICE MARKET PLACE?</li>
                    <li>3. SAFETY</li>
                    <li>4. SELL LIKE A PRO!</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div style="margin-top:20px;">
        <img class="img-fluid sideimg" src="assets/images/aboutgnice1.jpg" alt="#">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div>
        <img class="img-fluid sideimg" src="assets/images/aboutgnice2.png" alt="#">
      </div>
    </div>
    <div class="col-md-7">
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                How to Sell on Gnice?
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div style="padding-left: 10px; padding-top: 5px;">
                <h5 style="margin: auto; color: #3690c9"> 1. Register</h5>
                <p style="font-size: 15px;"> Register using your e-mail and phone number (or do it via Facebook or
                  Google). Make sure you’re entering a correct phone number, so your clients could reach you!
                </p>
                <h5 style="margin: auto; color: #3690c9"> 2. Make photos of your item.</h5>
                <p style="font-size: 15px;"> Feel free to make a lot of photos using your smartphone. Make sure they
                  show your item in the best light.
                </p>
                <h5 style="margin: auto; color: #3690c9"> 3. Press SELL .</h5>
                <p style="font-size: 15px;"> Choose a proper category, upload your photos and write a clear title and
                  full description of your item. Enter a fair price, select attributes and send your advert to review!
                </p>
                <h5 style="margin: auto; color: #3690c9"> 4. Answer the messages and calls from your clients!</h5>
                <p style="font-size: 15px;"> If everything is ok with your advert, it’ll be on Gnice in a couple of
                  hours after sending to moderation. We’ll send you a letter and notification when your advert goes
                  live. Check your messages and be ready to earn money! Do you want to sell like a pro? Check out our
                  Premium Services .
                </p>
                <button type="button" class="btn btn-primary btn-sm" style="border-radius: 25px;
          color: white;"><a href="Login" style="color: white;">SELL PRODUCTS</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                How to Buy on Gnice?
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div style="padding-left: 10px; padding-top: 5px;">
                <h5 style="margin: auto; color: #3690c9"> 1. Search for the item.</h5>
                <p style="font-size: 15px;"> Find what you need using search panel and filters. We have over a million
                  adverts, choose exactly what you are looking for.
                </p>
                <h5 style="margin: auto; color: #3690c9"> 2. Contact a seller.</h5>
                <p style="font-size: 15px;"> You may use chat on Gnice or call them via phone. Discuss all the details,
                  negotiate about the price.
                </p>
                <h5 style="margin: auto; color: #3690c9"> 3. Take your item or order a delivery.</h5>
                <p style="font-size: 15px;"> We check our sellers carefully, but it’s always better to check twice,
                  right? Meet a seller in public place and be sure to pay only after collecting your item.
                </p>
                <h5 style="margin: auto; color: #3690c9"> 4. Leave your feedback about the seller.</h5>
                <p style="font-size: 15px;"> Feel free to tell us about your purchase. Your feedback will be published
                  online on the seller’s page and will be very helpful for other buyers. Let’s build a safe and
                  professional business community together!</p>
                <button type="button" class="btn btn-primary btn-sm" style="border-radius: 25px;
          color: white;"><a href="Login" style="color: white;">GO SHOPPING</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <img class="img-fluid sideimg" src="assets/images/aboutgnice3.jpg" alt="#">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div>
        <img class="img-fluid sideimg" src="assets/images/aboutgnice4.jpg" alt="#">
      </div>
    </div>
    <div class="col-md-7">
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                SAFETY
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div style="padding-left: 10px; padding-top: 5px;">
                <h5 style="margin: auto; color: #3690c9"> 1. General</h5>
                <p style="font-size: 15px;"> We are highly focused on the security and can solve any issues in
                  short-terms. That’s why we ask you, kindly, to leave a review after purchasing. If you run into any
                  problems with a seller, you can report us and Gnice Team will check this seller as soon as possible.
                </p>
                <h5 style="margin: auto; color: #3690c9">2. Personal safety tips.</h5>
                <p style="font-size: 15px;">
                  You may use chat on Gnice or call them via phone. Discuss all the details, negotiate about the price.
                </p>
                <ul>
                  <li>1. Do not pay in advance, even for the delivery</li>
                  <li>2. Try to meet at a safe, public location</li>
                  <li>3. Check the item BEFORE you buy it</li>
                  <li>4. Pay only after collecting the item</li>
                </ul>
                <h5 style="margin: auto; color: #3690c9">3. Secure payments.</h5>
                <p style="font-size: 15px;">
                  Gnice provides Premium Services for those who want to sell and earn more. We accept both online and
                  offline payments for these services. We guarantee secure and reliable payments on Gnice.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="container">
        <div id="accordion">
          <div class="card">
            <div class="card-header">
              <a class="card-link" data-toggle="collapse" href="#collapseOne">
                Sell like a pro!
              </a>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordion">
              <div style="padding-left: 10px; padding-top: 5px;">
                <h5 style="margin: auto; color: #3690c9"> 1. Pay attention to the details.</h5>
                <p style="font-size: 15px;"> Make good photos of your goods, write clear and detailed description.
                </p>
                <h5 style="margin: auto; color: #3690c9">2. Answer quickly.</h5>
                <p style="font-size: 15px;">
                  Don’t make your buyer wait for your message for days. Be online or get SMS notifications on your
                  messages.
                </p>

                <h5 style="margin: auto; color: #3690c9">3. Use Premium Services to get 15x more customers!</h5>
                <p style="font-size: 15px;">
                  Your adverts will appear at the top of the page and you will sell faster! How does it work?
                </p>
                <button type="button" class="btn btn-primary btn-sm" style="border-radius: 25px;
          color: white;"><a href="Login" style="color: white;">GO PREMIUM</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <img class="img-fluid sideimg" src="assets/images/aboutgnice5.png" alt="#">
      </div>
    </div>
  </div>

</div>