

<main class="main" ng-controller="homeController" >
			<div class="container mb-2">
				<div class="row">
					<div class="col-lg-9">
						<div class=" mb-2"  ng-init="getAllHero()">
							<div class=" banner banner-md-vw banner-sm-vw">
								
								<img src="assets/images/uploads/hero/{{heros.image}}">
								<div class="banner-layer banner-layer-middle">
									<h4 class="text-white pb-4 mb-0">{{ heros.title }}</h4>
									<input type="text" class="form-control"  placeholder="Search Products, Brands and Categories" ng-model="all">
									<h2 class="text-white mb-2">{{ heros.sub_title }}</h2>
									<a href="Signup" class="btn btn-dark btn-md ls-10">Sell Now!</a>
								</div><!-- End .banner-layer -->

							</div><!-- End .home-slide -->

						
						</div>

						

						<h2 class="section-title ls-n-10 m-b-4">Gnice Market Place Trending Ads</h2>
                        <div  ng-init="fetch_all_product()">


								<div class="row">
							<div class="col-6 col-sm-4 col-md-3"  ng-repeat="product in products | filter : all | limitTo:20">
								<div class="product-default inner-quickview inner-icon">
									<figure>
										<a href="#" class="pbtn" data-id1="{{product.product_code}}" data-id2="{{product.brand}}" data-id3="{{product.sub_category}}">
											<img  style="width: 200px!important; height: 150px!important;" src="assets/images/uploads/products/{{ product.image }}">
										</a>
										<div class="label-group">
											<div class="product-label label-hot">10X VIP TOP+</div>
										</div>
										<div class="btn-icon-group">
											<button class="btn-icon btn-add-cart" title="Like" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
										</div>
									</figure>
									<div class="product-details">

										<div class="category-wrap">
											<a href="#" title="like" class="btn-icon-wish"><i class="icon-heart"></i></a>
											
											
											
										</div>
										<h2 class="product-title">
											<a href="Product">{{product.name}}</a>
										</h2>
										<div class="price-box">
											<span class="product-price">{{product.price | currency}}</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div><!-- End .col-md-3 -->
						</div>
					</div>

				
						

						

					

					</div><!-- End .col-lg-9 -->

				<?php require_once '../app/views/inc/aside.php';?>
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main><!-- End .main -->