<main class="main" ng-controller="homeController" ng-init="fetch_all_banners()">
	<div class="jumbotron jumbotron-fluid"
		style="background-image: url('{{dirlocation}}public/assets/images/uploads/hero/{{heros.image}}');display:none">
		<div class="container">
			<h2 class="text-white" style="margin-bottom: 5px !important;">{{ heros.title }}</h4>
				<div class="text-dark">
					<div class="container-fluid">
						<div class="header-right w-lg-max ">
							<div class="header-search header-icon header-search-inline header-search-category">
								<a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
								<div class="header-search-wrapper">
									<input type="search" class="form-control" name="q" id="q"
										placeholder="Search Products, Brands and Categories" ng-model="all">
									<div class="select-custom">
										<form action="" method="post" ng-init="search_cat() ">
											<select id="cat" name="cat"
												ng-init="fetch_all_categories_and_sub_categories()">
												<option selected="" value="">All Categories</option>
												<option ng-repeat="catSub in catSubs" value="{{catSub.id}}">
													{{catSub.title}}</option>

											</select>
									</div><!-- End .select-custom -->
									<button class="btn p-0 icon-search-3" id="butn" type="submit"></button>
								</div><!-- End .header-search-wrapper -->
								</form>
							</div><!-- End .header-search -->
							<!-- End .header-contact -->
						</div><!-- End .header-right -->
					</div><!-- End .container -->
				</div><!-- End .header-middle -->
				<h2 class="text-white mb-2">{{ heros.sub_title }}</h2>
				<a href="Signup" class="btn btn-dark btn-md ls-10">Buy Now!</a>
		</div>
	</div>
	<div class="container mb-2">
		<div class="row">
			<div class="col-lg-9">
				<div style="display:none" class="home-slider owl-carousel owl-theme owl-carousel-lazy mb-2"
					data-owl-options="{
								'loop': false,
								'dots': true,
								'nav': false
							}">
					<div class="home-slide home-slide1 banner banner-md-vw banner-sm-vw">
						<img class="owl-lazy slide-bg" src="{{dirlocation}}public/assets/slide-1.png"
							data-src="{{dirlocation}}public/assets/images/slide-1.png" alt="slider image">
						<div class="banner-layer banner-layer-middle">
							<h4 class="text-white pb-4 mb-0">Find the Boundaries. Push Through!</h4>
							<h2 class="text-white mb-0">Summer Sale</h2>
							<h3 class="text-white text-uppercase m-b-3">70% Off</h3>
							<h5 class="text-white text-uppercase d-inline-block mb-0 ls-n-20 align-text-bottom">Starting
								At <b class="coupon-sale-text bg-secondary text-white d-inline-block">$<em
										class="align-text-top">199</em>99</b></h5>
							<a href="category.html" class="btn btn-dark btn-md ls-10">Shop Now!</a>
						</div><!-- End .banner-layer -->
					</div><!-- End .home-slide -->

					<div class="home-slide home-slide2 banner banner-md-vw banner-sm-vw">
						<img class="owl-lazy slide-bg" src="{{dirlocation}}public/assets/slide-2.jpg"
							data-src="{{dirlocation}}public/assets/images/slide-2.jpg" alt="slider image">
						<div class="banner-layer banner-layer-middle text-uppercase">
							<h4 class="m-b-2">Over 200 products with discounts</h4>
							<h2 class="m-b-3">Great Deals</h2>
							<h5 class="d-inline-block mb-0 align-top mr-5">Starting At <b>$<em>299</em>99</b></h5>
							<a href="category.html" class="btn btn-dark btn-md ls-10">Get Yours!</a>
						</div><!-- End .banner-layer -->
					</div><!-- End .home-slide -->

					<div class="home-slide home-slide3 banner banner-md-vw banner-sm-vw">
						<img class="owl-lazy slide-bg" data-src="assets/images/slide-3.jpg"></img>
						<div class="banner-layer banner-layer-middle text-uppercase">
							<h4 class="m-b-2">Up to 70% off</h4>
							<h2 class="m-b-3">New Arrivals</h2>
							<h5 class="d-inline-block mb-0 align-top mr-5">Starting At <b>$<em>299</em>99</b></h5>
							<a href="category.html" class="btn btn-dark btn-md ls-10">Get Yours!</a>
						</div><!-- End .banner-layer -->
					</div><!-- End .home-slide -->
				</div><!-- End .home-slider -->

				<div ng-if="banners.main_banner.length!=0" ng-cloak>
					<img src="{{dirlocation}}public/assets/images/uploads/banners/{{banners.main_banner[0].image}}"
						style="border-radius:15px;width:100%" />
				</div>

				<h2 class="section-title" style="padding-top:15px;margin-top:0;margin-bottom:0">Trending Ads</h2>

				<div ng-init="fetch_all_product()">

					<div class="products_loader" style="text-align:center">
						<img src="{{dirlocation}}public/assets/images/spinner.gif"
							style="width:40px;float:none;margin:0 auto">
					</div>

					<div class="row" ng-cloak>

						<div class="col-6 col-sm-4 col-md-3"
							ng-repeat="product in products | limitTo:50:10 | filter : all ">
							<div class="product-default inner-quickview inner-icon"
								style="background-color: #fff;border-radius:10px;">
								<figure style="padding:0;">
									<a href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}"
										ng-init="img = product.image.split(',')">
										<div style="height:130px;overflow:hidden">
											<img style="width: 100%!important; border-top-right-radius: 10px; border-top-left-radius: 10px; "
												src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
										</div>
									</a>
									<div style="padding:7px">
										<h2 class="product-title" style="margin-top:3px;margin-bottom:3px">
											<a
												href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}">{{product.name}}</a>
										</h2>
										<span style="font-size:10px"><i class="fa fa-map-marker"></i>
											{{product.land_mark}}</span>
										<div class="price-box">
											<span
												class="product-price text-primary">{{product.price | currency:"NGN "}}</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</figure>

							</div>
						</div><!-- End .col-md-3 -->
					</div>

					<div class="row products-widgets" ng-init="fetch_top_rated_products()">
						<div class="col-sm-6 col-md-8 pb-4 pb-md-0" ng-cloak>
							<h3 class="section-sub-title ls-n-20">Top Rated Products</h3>
							<div class="col-lg-6" style="float:left;" ng-cloak ng-repeat="product in topRatedProducts">
								<div class="product-default left-details product-widget mb-2"
									style="background-color: #fff;border-radius:10px;overflow:hidden">
									<figure style="height:80px;width:150px;overflow:hidden">
										<a href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}"
											ng-init="img = product.image.split(',')">
											<img src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
										</a>
									</figure>
									<div class="product-details" style="padding:0px;">
										<h2 class="product-title" style="padding-top:0;margin-top:0">
											<a
												href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}">{{product.name}}
											</a>
										</h2>
										<span style="font-size:10px"><i class="fa fa-map-marker"></i>
											{{product.land_mark}}</span>
										<div class="price-box">
											<span class="product-price text-primary"
												style="font-size:13px">{{product.price | currency:"NGN "}}</span>
										</div><!-- End .price-box -->
									</div><!-- End .product-details -->
								</div>
							</div>

						</div><!-- End .col-md-4 -->

						<div class="col-sm-6 col-md-4 pb-4 pb-md-0">
							<div class="product-column">
								<h3 class="section-sub-title ls-n-20">Latest Products</h3>

								<div class="widget" ng-cloak>
									<div class="owl-carousel owl-theme">

										<div class="banner" ng-repeat="product in products | limitTo:5:0"
											style="border:none;background-color:none">
											<div class="product-default left-details product-widget mb-2"
												style="background: #fff;border-radius:10px;overflow:hidden;">
												<figure style="height:80px;width:150px;overflow:hidden;">
													<a href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}"
														ng-init="img = product.image.split(',')">
														<img
															src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
													</a>
												</figure>
												<div class="product-details">
													<h2 class="product-title" style="padding-top:0;margin-top:0">
														<a
															href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}">{{product.name}}</a>
													</h2>
													<span style="font-size:10px"><i class="fa fa-map-marker"></i>
														{{product.land_mark}}</span>
													<div class="price-box">
														<span class="product-price text-primary"
															style="font-size:13px">{{product.price | currency:"NGN "}}</span>
													</div><!-- End .price-box -->
												</div><!-- End .product-details -->
											</div>
										</div><!-- End .banner -->

										<div class="banner" ng-repeat="product in products | limitTo:5:5">
											<div class="product-default left-details product-widget mb-2"
												style="background-color: #fff;border-radius:10px;overflow:hidden;">
												<figure style="height:80px;width:150px;overflow:hidden;">
													<a href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}"
														ng-init="img = product.image.split(',')">
														<img
															src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
													</a>
												</figure>
												<div class="product-details">
													<h2 class="product-title" style="padding-top:0;margin-top:0">
														<a
															href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}">{{product.name}}</a>
													</h2>
													<span style="font-size:10px"><i class="fa fa-map-marker"></i>
														{{product.land_mark}}</span>
													<div class="price-box">
														<span class="product-price text-primary"
															style="font-size:13px">{{product.price | currency:"NGN "}}</span>
													</div><!-- End .price-box -->
												</div><!-- End .product-details -->
											</div>
										</div><!-- End .banner -->

										<div class="banner" ng-repeat="product in products | limitTo:5:10">
											<div class="product-default left-details product-widget mb-2"
												style="background-color: #fff;border-radius:10px;overflow:hidden;">
												<figure style="height:80px;width:150px;overflow:hidden">
													<a href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}"
														ng-init="img = product.image.split(',')">
														<img
															src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
													</a>
												</figure>
												<div class="product-details">
													<h2 class="product-title" style="padding-top:0;margin-top:0">
														<a
															href="{{dirlocation}}product/{{product.name.split(' ').join('-')}}/{{product.product_code}}">{{product.name}}</a>
													</h2>
													<span style="font-size:10px"><i class="fa fa-map-marker"></i>
														{{product.land_mark}}</span>
													<div class="price-box">
														<span class="product-price text-primary"
															style="font-size:13px">{{product.price | currency:"NGN "}}</span>
													</div><!-- End .price-box -->
												</div><!-- End .product-details -->
											</div>
										</div><!-- End .banner -->
									</div><!-- End .banner-slider -->
								</div><!-- End .widget -->


							</div><!-- End .product-column -->
						</div><!-- End .col-md-4 -->
					</div><!-- End .row -->

				</div>
			</div><!-- End .col-lg-9 -->
			<?php require_once './app/Views/inc/aside.php';?>
		</div><!-- End .row -->
	</div><!-- End .container -->
</main><!-- End .main -->

