  <?php require_once '../app/views/inc/seller_navbar.php';?>
      
        <div class="content-wrapper">
              <div class="row">
            <div class="col-md-3 grid-margin stretch-card">
              <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                <div style="padding: 10px; background-color: #47c0f3; color:white">
                    <h4 align="center">Free</h4>
                  </div>
                <div class="card-body  bg-gradient-primary text-white">
                  <ul class="list-ticked">
                    <li>Maximum of 50 products upload</li>
                     <li>Unlimited Product Reach</li>
                      <li>No ads slot. Your ads will be paid by you and unlimited ads reach</li>
                       <li>No Whatsapp link active on product page</li>
                        
                  </ul>
                  
                <div >
                  
              
              <h6 class="font-weight-light" align="center">Free</h6>
            <div class="mt-3">
                   <form action="" id="update_user_account_type" ng-submit="update_user_account_type()"  method="POST">
              <input name="selectedOption" id="selectedOption" type="hidden"  value="2">
              <input type="hidden" name="" value="{{user_token}}">
              <input type="hidden" name="email_to_be_activated"  value="{{usermail}}">
              <input type="hidden" name="amount" value="free">
               <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="">
               Choose
            </button>
            </form>
                </div>
            </div>
                  
                </div>
              </div>
            </div>

                  <div class="col-md-3 grid-margin stretch-card">
              <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                <div style="padding: 10px; background-color: #47c0f3; color:white">
                    <h4 align="center">Basic</h4>
                  </div>
                <div class="card-body  bg-gradient-primary text-white">
                  <ul class="list-ticked">
                    <li>Unlimited Product upload</li>
                     <li>Product reach of about 500 to 150000 customers</li>
                      <li>Your ads runs free for a certain period</li>
                       
                       <li>Whatsapp link active on product page</li>
                        
                  </ul>
                  
                <div >
                  
              
              <h6 class="font-weight-light" align="center">N5000/mo</h6>
            <div class="mt-3">
                   <form action="" id="user_account_type" ng-submit="user_account_type()"  method="POST">
              <input name="selectedOption" id="selectedOption" type="hidden"  value="2">
              <input type="hidden" name="" value="{{user_token}}">
              <input type="hidden" name="amount" value="5000">
               <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="">
               Choose
            </button>
            </form>
                </div>
            </div>
                  
                </div>
              </div>
            </div>

                  <div class="col-md-3 grid-margin stretch-card">
              <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                <div style="padding: 10px; background-color: #47c0f3; color:white">
                    <h4 align="center">Super</h4>
                  </div>
                <div class="card-body  bg-gradient-primary text-white">
                  <ul class="list-ticked">
                    <li>Unlimited Product upload</li>
                     <li>Unlimited Product Reach</li>
                      <li>Unlimited ads slot and unlimited ads reach</li>
                  
                       <li>Whatsapp link active on product page</li>
                        <li>Your Product are seen before others</li>
                  </ul>
                  
                <div >
                  
              
              <h6 class="font-weight-light" align="center">N7000/mo</h6>
            <div class="mt-3">
               <form action="" id="user_account_type" ng-submit="user_account_type()"  method="POST">
              <input name="selectedOption" id="selectedOption" type="hidden"  value="3">
              <input type="hidden" name="" value="{{user_token}}">
              <input type="hidden" name="email"  value="{{usermail}}">
              <input type="hidden" name="amount" value="7000">
               <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="">
               Choose
            </button>
            </form>
                
                </div>
            </div>
                  
                </div>
              </div>
            </div>

                  <div class="col-md-3 grid-margin stretch-card">
              <div class="card" style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);">
                <div style="padding: 10px; background-color: #47c0f3; color:white">
                    <h4 align="center">Advanced</h4>
                  </div>
                <div class="card-body  bg-gradient-primary text-white">
                  <ul class="list-ticked">
                    <li>Unlimited Product upload</li>
                     <li>Unlimited Product Reach</li>
                      
                       <li> <li>Your ads runs free for a certain period</li></li>
                       <li>Whatsapp link active on product page</li>
                  
                        <li>Your products remains at the top search rank</li>
                  </ul>
                  
                <div >
                  
              
              <h6 class="font-weight-light" align="center">N10,000/mo</h6>
            <div class="mt-3">
                   <form action="" id="user_account_type" ng-submit="user_account_type()"  method="POST">
              <input name="selectedOption" id="selectedOption" type="hidden"  value="4">
              <input type="hidden" name="" value="{{user_token}}">
              <input type="hidden" name="email"  value="{{usermail}}">
              <input type="hidden" name="amount" value="10000">
               <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="">
               Choose
            </button>
            </form>
                </div>
            </div>
                  
                </div>
              </div>
            </div>

            
             
        
          </div>
         
         
       
      
        </div>
       