<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="Home"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
      </ol>
    </div><!-- End .container -->
  </nav>




  <div class="container" ng-controller="homeController">
    <h1 class="subtitle" style="font-size:25px; font-weight: bold;"> Settings</h1>
    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#collapseOne">
            Personal Details
          </a>
        </div>
        <div id="collapseOne" class="collapse show" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-10 mx-auto" ng-init="fetch_single_user()">
                      <div>
                        <img src="{{singleUser.image}}" width="100px" height="100px" class="img-profile rounded-circle">
                      </div>



                    </div>
                    <form action="" method="post" enctype="multipart/form-data" id="add_profileImg"
                      ng-submit="add_profileImg()" class="my-3">
                      <div class="form-group">
                        <input class="form-control" type="file" name="file">
                        <div class="my-2" id="upload">
                          <input type="submit" class="form-control" value="Upload">
                        </div>
                      </div>

                    </form>



                  </div>

                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-10 mx-auto" ng-init="fetch_single_user()">
                      <form action="" method="post" id="add_profileDetails" ng-submit="add_profileDetails()"
                        class="my-3">

                        <input type="text" name="fullname" id="fullname" class="form-control" placeholder="Full Name"
                          required value="{{singleUser.fullname}}" />
                        <label for="gender">Gender</label>
                        <select class="form-control" name="gender">
                          <option selected="" value="{{singleUser.gender}}">{{singleUser.gender}}</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>

                        <input type="text" name="address" id="address" class="form-control" placeholder="Address"
                          value="{{singleUser.address}}" required />
                        <input type="text" name="state" id="state" class="form-control" placeholder="State"
                          value="{{singleUser.state}}" required />
                        <input type="text" name="country" id="country" class="form-control" placeholder="Country"
                          value="{{singleUser.country}}" required />
                        <input type="text" name="whatsapp" id="whatsapp" class="form-control" placeholder="whatsapp"
                          value="{{singleUser.whatsapp}}" />
                        <input type="text" name="mobile1" id="mobile1" class="form-control" placeholder="Mobile Number"
                          value="{{singleUser.mobile1}}" />
                        <div class="form-footer">
                          <button type="submit" class="btn btn-primary" id="">
                            Confirm Account
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
            Business Information
          </a>
        </div>
        <div id="collapseTwo" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h5> 1. <a href="#">Search for the item.</a></h5>
            <p style="font-size: 15px;"> Find what you need using search panel and filters. We have over a million
              adverts, choose exactly what you are looking for.</p>

            <h5> 2. Contact a seller.</h5>
            <p style="font-size: 15px;"> You may use chat on Jiji or call them via phone. Discuss all the details,
              negotiate about the price.</p>

            <h5> 3. Take your item or order a delivery.</h5>
            <p style="font-size: 15px;"> We check our sellers carefully, but it’s always better to check twice, right?
              Meet a seller in public place and be sure to pay only after collecting your item.</p>

            <h5> 4. Leave your feedback about the seller.</h5>
            <p style="font-size: 15px;">
              Feel free to tell us about your purchase. Your feedback will be published online on the seller’s page and
              will be very helpful for other buyers. Let’s build a safe and professional business community together!
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Changes Phone Number
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h5> 1. General</h5>
            <p style="font-size: 15px;"> We are highly focused on the security and can solve any issues in short-terms.
              That’s why we ask you, kindly, to leave a review after purchasing. If you run into any problems with a
              seller, you can report us and Jiji Team will check this seller as soon as possible.</p>

            <h5> 2. Personal safety tips.</h5>
            <p style="font-size: 15px;">
            <ul>
              <li> - Do not pay in advance, even for the delivery </li>
              <li> - Try to meet at a safe, public location </li>
              <li> - Check the item BEFORE you buy it </li>
              <li> - Pay only after collecting the item </li>
            </ul>
            </p>

            <h5> 3. Secure payments.</h5>
            <p style="font-size: 15px;">
              Gnice Market Place provides Premium Services for those who want to sell and earn more. We accept both
              online and offline payments for these services. We guarantee secure and reliable payments on Gnice.
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Change Password
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h5> 1. Pay attention to the details.</h5>
            <p style="font-size: 15px;"> Make good photos of your goods, write clear and detailed description</p>

            <h5> 2. Answer quickly.</h5>
            <p style="font-size: 15px;">
              Don’t make your buyer wait for your message for days. Be online or get SMS notifications on your messages.
            </p>

            <h5> 3. Use Premium Services to get 15x more customers!</h5>
            <p style="font-size: 15px;">
              Your adverts will appear at the top of the page and you will sell faster! How does it work?
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
            Delete My Account Forver
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <h5> 1. Pay attention to the details.</h5>
            <p style="font-size: 15px;"> Make good photos of your goods, write clear and detailed description</p>

            <h5> 2. Answer quickly.</h5>
            <p style="font-size: 15px;">
              Don’t make your buyer wait for your message for days. Be online or get SMS notifications on your messages.
            </p>

            <h5> 3. Use Premium Services to get 15x more customers!</h5>
            <p style="font-size: 15px;">
              Your adverts will appear at the top of the page and you will sell faster! How does it work?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5"></div><!-- margin -->
</main><!-- End .main -->