<div class="d-flex align-items-end flex-wrap">
  <div class="mr-md-3 mr-xl-5">
    <h3>MY PRODUCTS</h3>
    <p class="mb-md-0">Your analytics dashboard template.</p>
  </div>

</div>

<div ng-init="fetch_all_product_of_seller()">
  <div style="text-align: center;" class="loader">
    <img src="{{dirlocation}}public/assets/images/spinner4.gif" style="float:none;margin:0 auto;width:80px">
  </div>
  <div class="row">
    <div class="col-md-3" ng-repeat="sellerProduct in products">
      <div class=""
        style="box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);margin-bottom:15px;border-radius:5px;overflow:hidden">
        <div style="height:150px;overflow:hidden">
          <img ng-init="img = sellerProduct.image.split(',')" style="width: 100%"
            src="{{dirlocation}}public/assets/images/uploads/products/{{img[0]}}">
        </div>
        <div style="padding:7px 10px">
          <p style="font-size: 18px;">
            {{ sellerProduct.name | limitTo: 50 }}{{sellerProduct.name.length > 50 ? '...' : ''}}
            <br>
            <span class="text-secondary" style="font-size: 13px; margin-top:-20px;"> {{sellerProduct.price |
              currency:'NGN '}} <br /><span
                style="font-size: 10px; color:#ccc">{{sellerProduct.date_added}}</span></span>
          </p>

          <a href="#" ng-click="delete_product(sellerProduct,$index)">Delete</a>
          <a href="#" ng-click="localStorage_save('productDetails',sellerProduct,'edit_product')"
            class="btn btn-outline-secondary btn-sm">Edit</a>
          <a href="#" class="btn btn-outline-primary btn-sm">Disable</a>
        </div>
      </div>
    </div>


  </div>
  <div ng-if="0 == status" class="mt-5">
    <p><i style="font-size: 200px" class="mdi mdi-briefcase-upload"></i></p>
    <p>You have not uploaded any ads yet</p>
    <a href="addproduct" class="btn btn-primary btn-rounded btn-fw">Add Product</a>
  </div>
</div>
</div>
</div>


</div>
<div ng-if="0 == status" class="mt-5">
  <p><i style="font-size: 200px" class="mdi mdi-briefcase-upload"></i></p>
  <p>You have not uploaded any ads yet</p>
  <a href="addproduct" class="btn btn-primary btn-rounded btn-fw">Add Product</a>
</div>
</div>