<!-- End .header -->

<main class="main" ng-controller="loginController">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="Home"><i class="icon-home"></i></a>
        </li>
         <li class="breadcrumb-item">
          <a href="Signup">Sign Up</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>

  <div class="container">
    <div class="col-md-6 offset-md-3">
      <div class="heading">
        <h2 class="title">Login</h2>
        <p>If you have an account with us, please log in.</p>
      </div>
      <!-- End .heading -->
      <p class="result"></p>
      <div>

 

      </div>


          <form ng-submit="user_login()" id="user_login"  method="POST" action="#">  

        <input
          type="email"
          name="username"
          id="username"
          class="form-control"
          placeholder="Email Address"
          name="email"

        />
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Password"

        

        />

        <div class="form-footer">

          <a href="#" class="forget-pass"> Forgot your password?</a>

          <button type="submit" class="btn btn-primary">LOGIN</button>
          <a href="Recovery" class="forget-pass"> Forgot your password?</a>
         

        </div>
        <!-- End .form-footer -->
      </form>
    </div>
  </div>
  <!-- End .container -->

  <div class="mb-5"></div>
  <!-- margin -->
</main>
<!-- End .main -->
