


  <div class="container-scroller"  ng-controller="signupController">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-transparent text-white text-left p-5 text-center">
              <h2 class="title">Password Recovery</h2>
             
              
                 <form action="" class="pt-5" ng-submit="password_recovery()" id="password_recovery"  method="POST" action="">  
     
        
        
                <div class="form-group">
                  <label for="examplePassword1">Email</label>
                  <input  type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email"
            
            required>
                </div>
                <div class="mt-5">
                   <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">Send</button>
                </div>
              
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
