<!-- End .header -->

<main class="main"  ng-controller="signupController">
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="Home"><i class="icon-home"></i></a>
        </li>
         <li class="breadcrumb-item">
          <a href="Login">Login</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Signup</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>

  <div class="container">
    <div class="col-md-8">
      <div class="heading">
        <h2 class="title">Create An Account</h2>
        <p>
          By creating an account with our store, you will be able to move
          through the checkout process faster, store multiple shipping
          addresses, view and track your orders in your account and more.
        </p>
      </div>
    </div>
    <div class="result"></div>
    
    <form action="" id="user_signup" ng-submit="user_signup()"  method="POST">
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            name="fullname"
            id="fullname"
            class="form-control"
            placeholder="First Name"
            required
          />
           <input
            type="email"
            name="email"
            id="email"
            class="form-control"
            placeholder="Email Address"
            required
          />
        
          <input
            type="text"
            name="phone"
            id="phone"
            class="form-control"
            placeholder="Phone"
            required
          />
        </div>
        <div class="col-md-6">
         
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            class="form-control"
            placeholder="Confirm Password"
            required
          />

         
          <!-- End .custom-checkbox -->

          <div class="form-footer">
            <button type="submit" class="btn btn-primary" id="">
              Create Account
            </button>
          </div>
          <!-- End .form-footer -->
        </div>
        <!-- End .col-md-6 -->
      </div>
    </form>
    <!-- End .row -->
  </div>
  <!-- End .container -->

  <div class="mb-5"></div>
  <!-- margin -->
</main>
<!-- End .main -->
