

  <div class="container-scroller"  ng-controller="signupController">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-transparent text-white text-left p-5 text-center">
                 <h3>Welcome {{data1}}</h3>
        <p>Your account {{data}} is activated. Please hit the button to login</p>
          <a href="Login">Login</a>
            
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->

</body>

</html>

