<div class="content-wrapper">

  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>
      </span> Dashboard
    </h3>
    <p class="alert alert-info" style="display: none;"></p>
    <!-- <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul>
    </nav> -->


  </div>
  <div class="loader text-center">
    <img src="{{dirlocation}}public/assets/images/spinner.gif" style="width: 20px" />
  </div>
  <div class="row" ng-init="home_stats()">
    <div class="col-md-4 stretch-card grid-margin" ng-repeat="ad in statistics.ads ">
      <div class="card bg-gradient-danger card-img-holder text-white">
        <div class="card-body">
          <img src="{{dirlocation}}/public/admin-assets/images/dashboard/circle.png" class="card-img-absolute"
            alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Total Ads <i class="mdi mdi-presentation-play mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ ad.total_ads }}</h2>
          <h6 class="card-text">by {{ ad.total_sellers }} sellers</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin" ng-repeat="seller in statistics.sellers">
      <div class="card bg-gradient-info card-img-holder text-white">
        <div class="card-body">
          <img src="{{dirlocation}}/public/admin-assets/images/dashboard/circle.png" class="card-img-absolute"
            alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Total Sellers <i
              class="mdi mdi-account-multiple-outline  mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ seller.total_sellers }}</h2>
          <h6 class="card-text"></h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin" ng-repeat="item in statistics.transactions">
      <div class="card bg-gradient-success card-img-holder text-white">
        <div class="card-body">
          <img src="{{dirlocation}}/public/admin-assets/images/dashboard/circle.png" class="card-img-absolute"
            alt="circle-image" />
          <h4 class="font-weight-normal mb-3">Total Transactions<i
              class="mdi mdi-cash-multiple mdi-24px float-right"></i>
          </h4>
          <h2 class="mb-5">{{ item.total_amount | currency :'NGN '}}</h2>
          <h6 class="card-text">counts : {{ item.total_records }}</h6>
        </div>
      </div>
    </div>
  </div>



  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->