<div class="content-wrapper" ng-controller="usersController" ng-init="localStorage_get('userInfo')">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-account-card-details"></i>
            </span>
            Profile | {{ userInfo.fullname | uppercase}} <small class="text-muted">({{ userInfo.seller_id}})</small>
        </h3>
    </div>

    <div class="row" ng-init="fetch_all_product_of_seller(userInfo.seller_id)">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <!-- <div class="card"> -->
                            <img src="{{dirlocation}}/public/assets/images/uploads/profile/{{userInfo.image}}"
                                alt="{{ userInfo.name }}" class="img-thumbnail rounded-circle img-fluid "
                                style="width:100px; height:100px; ">
                            <p ng-switch="userInfo.activated" class="mb-0 mt-3">
                                Activated account:
                                <span ng-switch-when="1">
                                    <i class="mdi mdi-shield text-success"></i>
                                </span>
                                <span ng-switch-when="0">
                                    <i class="mdi mdi-shield-outline text-danger"></i>
                                </span>
                                <span ng-switch-default>
                                </span>
                            </p>
                            <p ng-switch="userInfo.status" class="mb-0">
                                Status:
                                <span ng-switch-when="1">
                                    <i class="mdi mdi-check-circle text-success"></i>
                                </span>
                                <span ng-switch-when="0">
                                    <i class="mdi mdi-lock text-warning"></i>
                                </span>
                                <span ng-switch-default>
                                </span>
                            </p>
                            <!-- </div> -->
                            <p ng-switch="userInfo.account_type_title" class="mb-0">
                                Package :
                                <span ng-switch-when="Free">
                                    <span class="badge badge-secondary">
                                        {{userInfo.account_type_title}}
                                    </span>
                                </span>
                                <span ng-switch-when="Basic">
                                    <span class="badge badge-success">
                                        {{userInfo.account_type_title}}
                                    </span>
                                </span>
                                <span ng-switch-when="Super">
                                    <span class="badge badge-info">
                                        {{userInfo.account_type_title}}
                                    </span>
                                </span>
                                <span ng-switch-when="Advance">
                                    <span class="badge badge-primary">
                                        {{userInfo.account_type_title}}
                                    </span>
                                </span>
                                <span ng-switch-default>
                                    <span class="badge badge-light">
                                        none
                                    </span>
                                </span>
                            </p>
                            <p>
                                Number of Placed ads: <span class="badge badge-danger">{{ rowCount }}</span>
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-9">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <p ng-show="userInfo.fullname">
                                        Name: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.fullname }}</span>
                                    </p>
                                    <p ng-show="userInfo.email">
                                        Email: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.email }}</span>
                                    </p>
                                    <p ng-show="userInfo.phone">
                                        Mobile: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.phone }}</span>
                                    </p>

                                </div>
                                <div class="col-sm-12 col-md-4">

                                    <p ng-show="userInfo.whatsapp">
                                        Whatsapp: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.whatsapp }}</span>
                                    </p>

                                    <p ng-show="userInfo.state">
                                        <span>State:</span> <br> <span><i
                                                class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.state}}</span>
                                    </p>
                                    <p ng-show="userInfo.seller_id">
                                        Seller ID: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.seller_id }}</span>
                                    </p>


                                    <p ng-show="userInfo.last_login">
                                        Last seen: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.last_login }}</span>
                                    </p>

                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <p ng-show="userInfo.signup_date">
                                        Signup On: <br> <span><i class="mdi mdi-check-circle mr-1 text-success">
                                            </i>{{ userInfo.signup_date }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">All ads posted by {{ userInfo.fullname }} </h4>
                    <div style="text-align: center;" class="loader">
                        <img src="{{dirlocation}}public/assets/images/spinner4.gif"
                            style="float:none;margin:0 auto;width:80px">
                    </div>
                    <div class="search-field d-none d-md-block mb-5 mt-2">
                        <form class="d-flex align-items-center h-100" action="#">
                            <div class="input-group">
                                <div class="input-group-prepend bg-transparent">
                                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                                </div>
                                <input type="text" class="form-control bg-transparent border-0"
                                    placeholder="search user all user ads " ng-model="userAds">
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 mr-2 mb-5 mr-sm-0"
                            ng-repeat="ads in all_user_ads | filter: userAds">
                            <div class="card shadow">
                                <img ng-init=" img = ads.image.split(',')"
                                    src="{{dirlocation}}/public/assets/images/uploads/products/{{img[0]}}" alt=""
                                    class="card-img-top w-100 p-0 rounded" height="150">
                                <p class="display-4" style="position:absolute;top:0px;left:0;">
                                    <span ng-switch="ads.status">
                                        <span ng-switch-when="1">
                                            <i class="mdi mdi-check-circle text-success"></i>
                                        </span>
                                        <span ng-switch-when="0">
                                            <i class="mdi mdi-lock text-warning"></i>
                                        </span>
                                        <span ng-switch-default>
                                        </span>
                                    </span>
                                </p>
                                <div class="card-body p-3">
                                    <h5 class="card-title">{{ ads.name | limitTo: 20 }}{{ ads.name.length > 20 ? '...' :
                                        '' }}</h5>
                                    <span class="badge badge-success mb-1">{{ ads.brand}}</span>
                                    <span class="badge badge-warning">{{ ads.product_code }}</span>
                                    <span class="badge badge-primary">{{ ads.state }}</span>

                                    <div class="card-text ">
                                        <p class="text-primary">{{ ads.price | currency : "NGN" }}</p>
                                        <p class="text-center">
                                            <a href="#" class=" badge badge-gradient-info mr-2 mb-1 p-2"
                                                ng-click="localStorage_save('adsInfo',ads,'single_listing')"
                                                style="cursor: pointer; font-size: 14px;"> <i
                                                    class="mdi mdi-eye-check mr-2"></i>Details</a>
                                            <button href="#" class="btn btn-inverse-danger btn-sm mb-1">disable</button>
                                        </p>
                                    </div>

                                </div>
                                <div class="card-footer p-0">
                                    <small class="text-muted pl-4">{{ ads.date_added }}</small>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</div>